<body>
  <div class="calendar">
    <div class="week" *ngFor="let week of getBinnacleEntriesPerWeek()">
      <div class="day" *ngFor="let day of week">
        <h3 class="date">{{ day.date }}</h3>
        <ul>
          <ng-container *ngIf="day.entries.length > 0; else noEntries">
            <li *ngFor="let entry of day.entries">
              <p>El emoji que representa su ánimo es: {{ entry.emoji }}</p>
              <p>El sentimiento que eligió de la lista es: {{ entry.feeling }}</p>
              <p>La razón que escribió: {{ entry.reason }}</p>
              <p>PD: {{ entry.extraText }}</p>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
  <ng-template #noEntries>
    <h1>NO HAY REGISTRO</h1>
  </ng-template>
</body>




