<body>
  <div class="division">
    <span id="title">Lista de Estudiantes Registrados</span>
    <hr style="border: 2px solid #A4A6B3;">
    <div class="mat-elevation-z8" *ngIf="dataSource">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let student"> {{ student.firstName + ' ' + student.lastName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Correo </th>
          <td mat-cell *matCellDef="let student"> {{student.email}} </td>
        </ng-container>

        <ng-container matColumnDef="telephone">
          <th mat-header-cell *matHeaderCellDef> Telefono </th>
          <td mat-cell *matCellDef="let student"> {{student.telephone}} </td>
        </ng-container>

        <ng-container matColumnDef="genre">
          <th mat-header-cell *matHeaderCellDef> Genero </th>
          <td mat-cell *matCellDef="let student"> {{student.genre}}</td>
        </ng-container>

        <ng-container matColumnDef="birthDate">
          <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>
          <td mat-cell *matCellDef="let student"> {{student.birthDate}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
      </table>
    </div>

  </div>
</body>
<app-sidebar></app-sidebar>


