.personal-info {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #16B268;
}

.student-info {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
.interaction-info{
  width: 100%;
  margin-top: 15px;
  margin-bottom: -20px;
  text-align: center;
  color: #16B268;
}
.interactiondiv-info{
  width: 100%;
  height: 84%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.resultados{
  position: absolute;
  width:100%;
  top:0;
  left:0;
}

.student-photo {
  position: absolute;
  width: 300px;
  height: 300px;
  left:-80px;
}

.student-details {
  position:absolute;
  left:230px;
}

label {
  font-weight: lighter;
  margin-bottom: 5px;
  font-size: 16px;
  display: block;
}

.student-section {
  justify-content: flex-start;
}

.results-section {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: -405px;
  padding-left: 100px;
}
.interaction-section{
  position: absolute;
  top: 390px;
  height: 325px;
}
.accordion-button{
  margin-bottom: -20px;
}
#bitacora{
  background-color: #16B268;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
  width: 610px;
  margin-top: -120px;
}
#phq{
  background-color: #16B268;
  position: absolute;
 margin-top: 120px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
  width: 610px;
}



#content {
  margin:0;
  padding:30px;
}

.headere{
  text-align: left;
}

.left-aligned-tile {
  display: flex!important;
  justify-content: flex-start!important;
  align-items: left!important;
}

.titulos{
  position:absolute;
  left:0;
  top:30;
}

.descripcion{
  position:absolute;
  top:30;
  margin-top:30px;
  left:0;
}

.chartes{
  padding-top:40px;
  padding-left:60px;
  padding-right:60px;

}

.rounded-grid {
  border-radius: 8px; /* adjust the border-radius as desired */
  overflow: hidden;
  border: 1px solid #bcd1bd;
  border-bottom:6px solid #16B268;
}

.rounded-gridy {
  border-radius: 8px;
  background:#16B268; 
  color: white;
  overflow: hidden;
  border: 1px solid #bcd1bd;
  border-bottom:6px solid #16B268;
  font-size:14px;
  letter-spacing: 1px;
  -webkit-transition: all .2s linear;
  transition:all .2s linear;
  cursor: pointer;
}

.rounded-gridy:hover {  
  letter-spacing: 2px;
  -webkit-transition: all .2s linear;
  transition:all .2s linear;
}

.subtitulo{
 color:#000000;
 text-align: right;
 font-size:12px!important;
 text-transform: uppercase;
 letter-spacing: 1px!important;
}

.subsubtitulo{
  color:#808080;
  font-size:12px!important;
}

#whiter{
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width:100%;
  height:100%;
}

#centeru{
  position: fixed;
  top:calc(50% - 100px);
  left:50%;
}

.centerin{
text-align: center;
margin-top:20px;
margin-left:-20px;
}

.donut {
  width: 50px;
  height: 50px;
  margin: 50px;
  border-radius: 50%;
  border: 0.3rem solid #16b26949;
  border-top-color: #16B268;
  -webkit-animation: 1.5s spin infinite linear;
          animation: 1.5s spin infinite linear;
}
.donut.multi {
  border-bottom-color: #16B268;
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}