<div id="blue-screen">
</div>
<div id="white-screen">
  <section id="formulary">
    <span id="register-title"> REGÍSTRATE </span>
    <div class="row">
      <div class="col">
        <label class="form-label">Nombres :</label>
        <input type="text" class="form-control" aria-label="First name" placeholder="Ingresar nombres...">
      </div>
      <div class="col">
        <label class="form-label">Apellidos :</label>
        <input type="text" class="form-control" aria-label="Last name" placeholder="Ingresar apellidos...">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Correo :</label>
        <input type="text" class="form-control" aria-label="First name" placeholder="info@xyz.com">
      </div>
      <div class="col">
        <label class="form-label">Confirmar Correo :</label>
        <input type="text" class="form-control" aria-label="Last name" placeholder="info@xyz.com">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Contraseña :</label>
        <input type="text" class="form-control" aria-label="First name" placeholder="xxxxxxxxxxxx">
      </div>
      <div class="col">
        <label class="form-label">Repetir contraseña :</label>
        <input type="text" class="form-control" aria-label="Last name" placeholder="xxxxxxxxxxxxx">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Teléfono :</label>
        <input type="text" class="form-control" aria-label="First name" placeholder="+51 973429932">
      </div>
      <div class="col">
        <label class="form-label">Universidad :</label>
        <input type="text" class="form-control" aria-label="Last name" placeholder="Nombre de universidad">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" type="button" id="account-btn">
          <a href="" id="singup-link" routerLink=""> Ya tengo cuenta </a>
        </button>
      </div>
      <div class="col">
        <button class="btn btn-primary" type="button" id="register-btn" routerLink="/results">Registrarse</button>
      </div>
    </div>



  </section>


<router-outlet></router-outlet>
