#content {
    position:absolute;
    width:calc(100vw - 250px);
    height:100vh;    
    bottom:0!important;
    margin-left:250px;
    padding:30px;
    background:transparent!important;
  }

  .bottomm {
    width:calc(100vw - 310px);
    position:absolute!important;
    bottom:0!important;
  }


  .headere{
    text-align: left;
  }
  
  .left-aligned-tile {
    display: flex!important;
    justify-content: flex-start!important;
    align-items: left!important;
  }
  
  .titulos{
    position:absolute;
    left:0;
    top:30;
  }
  
  .descripcion{
    position:absolute;
    top:30;
    margin-top:30px;
    left:0;
  }
  
  .chartes{
    padding-top:40px;
    padding-left:60px;
    padding-right:60px;
  
  }
  
  
  
  .subtitulo{
   color:#000000;
   text-align: right;
   font-size:12px!important;
   text-transform: uppercase;
   letter-spacing: 1px!important;
  }
  
  .subsubtitulo{
    color:#808080;
    font-size:12px!important;
  }
  
  .centerpic{
    height:100%;
    position:absolute;
    bottom: 0!important;
    width:auto;
  } 


  .rounded-grid {
    border-radius: 8px; 
    overflow: hidden;
    border: 1px solid #bcd1bd;
    border-bottom:6px solid #16B268;
    color:rgb(17, 17, 17);   
    -webkit-transition: all .2s ease-in-out;
    transition:all .2s ease-in-out;
  }

  .rounded-grid:hover{
    color:#fff;
    -webkit-transition: all .2s linear;
    transition:all .2s linear;
    
  }

  .transparent-grid {
    border-radius: 8px; 
    background:transparent;
  }
  
.button-5 {
    width: 200px;
    border-radius: 5px;
    background-color: #16B268;
    background-image: #16B268;
    background-image: -moz-linear-gradient(top, #fafafa 0%, #fafafa 100%); 
    background-image: -webkit-linear-gradient(top, #fafafa 0%,#fafafa 100%); 
    background-image: linear-gradient(to bottom, #fafafa 0%,#fafafa 100%); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;    
  }
  .button-5:hover {
    background-position: -40vw;
    transition: all 400ms ease-in-out;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }

  .iconi{
    position:absolute;
    font-size:60px;
    opacity:1;
    color:#16B268;
    left:-30px;
    margin-top:10px;
    -webkit-transition: all .2s linear;
    transition:all .2s linear;
  }

  .titles{
    position: absolute;
    left:135px;
    text-transform: uppercase;
    letter-spacing: 2px!important;
    font-size:14px;
    -webkit-transition: all .2s linear;
    transition:all .2s linear;
  }

  .descriptcion{
    position: absolute;
    letter-spacing: 1px!important;
    font-size:12px;
    -webkit-transition: all .2s linear;
    transition:all .2s linear;
    text-align: left!important;
    top:100px;
    left:135px;
  }

  .rounded-grid:hover .iconi{
    left:-20px;
    color:#fff;
    -webkit-transition: all .2s linear;
    transition:all .2s linear;
  }

  .rounded-grid:hover .titles{
    left:145px;
    -webkit-transition: all .2s linear;
    transition:all .2s linear;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
  }
}


.additional-info {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.additional-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  width: 95%;
}

.additional-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: rgb(209, 218, 195);
  width: 30%;
  border:none;
  border-radius: 5px;
}

.additional-element i {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  margin-top: 5px;
}

.additional-element p {
  font-size: 2.2rem;
}
#separation{
  width: 95%;
}
#subtitle{
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
}

#carouselExample{
  position:absolute;
  margin-top:130px;
}

.carousel-control-prev-icon{
  position:fixed;
  filter:invert();
  left:350px;
}

.carousel-control-next-icon{
  position:fixed;
  filter:invert();
  right:100px;
}

#title{
  position: absolute;
  margin-top:75px;
  font-size:20px;
  color:#16B268;
}

.logo{
  position:absolute;
  margin-top:-80px;
  width:180px;
  height:auto;
}







.button-6 {
  width: 200px;
  border-radius: 5px;
  background-color: #16B268;
  background-image: #16B268;
  background-image: -moz-linear-gradient(top, #fafafa 0%, #fafafa 100%); 
  background-image: -webkit-linear-gradient(top, #fafafa 0%,#fafafa 100%); 
  background-image: linear-gradient(to bottom, #fafafa 0%,#fafafa 100%); 
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;    
}
.button-6:hover {
  background-position: -40vw;
  transition: all 400ms ease-in-out;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.iconi6{
  position:absolute;
  font-size:60px;
  opacity:1;
  color:#16B268;
  left:-30px;
  margin-top:10px;
  -webkit-transition: all .2s linear;
  transition:all .2s linear;
}

.titles6{
  position: absolute;
  top: 77px;
  left:135px;
  text-transform: uppercase;
  letter-spacing: 2px!important;
  font-size:14px;
  -webkit-transition: all .2s linear;
  transition:all .2s linear;
}

.descriptcion6{
  position: absolute;
  letter-spacing: 1px!important;
  font-size:12px;
  -webkit-transition: all .2s linear;
  transition:all .2s linear;
  text-align: left!important;
  top:100px;
  left:135px;
}


.rounded-grid:hover .iconi6{
  left:-20px;
  color:#fff;
  -webkit-transition: all .2s linear;
  transition:all .2s linear;
}

.rounded-grid:hover .titles6{
  left:145px;
  -webkit-transition: all .2s linear;
  transition:all .2s linear;
}

.apoint{
  border:1px solid #b1b1b1;
  background:#d5d5d51f;
  padding:10px 15px;
  width:100%;
  border-radius:4px;
  margin-top:4px; 
  -webkit-transition: all .2s linear;
  transition:all .2s linear;
}

.rounded-grid:hover .apoint{
  border:1px solid #ffffff;
  -webkit-transition: all .2s linear;
  transition:all .2s linear;
}