
<nav class="main-menu">
    <div id="profile">
      <i class="fa fa-user-circle fa-5x" id="icons"></i>
      <span id="user-name"> Anna George </span>
      <span id="user-tag"> Encargado </span>
      <hr id="divide-line">
    </div>
            <ul>
                <li>
                    <a routerLink="/results">
                      <i class="fa fa-pie-chart fa-2x" ></i>
                        <span class="nav-text">
                           Resultados
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-users fa-2x"></i>
                        <span class="nav-text">
                            Alumnos
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-user fa-2x"></i>
                        <span class="nav-text">
                            Psicologos
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-list-alt fa-2x"></i>
                        <span class="nav-text">
                            Banco de Preguntas
                        </span>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-credit-card-alt fa-2x"></i>
                        <span class="nav-text">
                            Suscripcion
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cog fa-2x"></i>
                        <span class="nav-text">
                           Configuracion
                        </span>
                    </a>
                </li>

            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Cerrar Sesion
                        </span>
                    </a>
                </li>
            </ul>
        </nav>

