.dialog-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
input{
  margin-top: 10px;
  text-align: center;
  align-items: center;
}


span {
  color: white;
  margin-top: -20px;
  font-size: 16px;
}
.form-field {
  width: 100%;
  text-align: center;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: -50px;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}

.save-button {
  background-color: #4caf50;
  color: white;
}
