<h1 mat-dialog-title class="dialog-title">Entrenar Respuesta</h1>
<span>Una respuesta es el texto que el chatbot reproducira en la conversacion con un estudiante, comparando el mensaje de este con sus frases entrenadas.</span><br>
<span>A continuacion, ingrese la respuesta que dara el chatbot:</span>
<div mat-dialog-content>
  <mat-form-field class="form-field">
    <mat-label>Respuesta</mat-label>
    <input matInput [(ngModel)]="response.messageText" placeholder="Respuesta">
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="cancel-button" (click)="dialogRef.close()">Cancelar</button>
  <button mat-button class="save-button" color="primary" (click)="onSave()">Guardar</button>
</div>

