<body>
<div id="content" *ngIf="isfinishedLoading">

  <mat-grid-list cols="6" rowHeight="100px" gutterSize="20">
      <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'#fff'" class="left-aligned-tile">
          <div class="headere">
              <div class="titulos">
                  <h2>Estadisticas.</h2>
              </div>
              <div class="descripcion">Aqui puede observar las estadisticas de su universidad.</div>
          </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'#fafafa'" class="rounded-grid">
          <ngx-charts-number-card [view]="[200, 180]" [results]="studentData" [scheme]="'forest'" >
          </ngx-charts-number-card>
          <mat-grid-tile-footer [style.background]="'transparent'"><div class="subsubtitulo">Total de estudiantes registrados.</div></mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'#fafafa'" class="rounded-grid">
          <ngx-charts-number-card [view]="[200, 180]" [results]="psychologistData" [scheme]="'forest'">
          </ngx-charts-number-card>
          <mat-grid-tile-footer [style.background]="'transparent'"><div class="subsubtitulo">Total de psicólogos registrados.</div></mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="5" [style.background]="'#fafafa'" class="rounded-grid">
          <mat-grid-tile-header [style.background]="'transparent'">
              <div class="w-100 subtitulo">Porcentaje de depresión detectadas</div>
          </mat-grid-tile-header>
          <ngx-charts-pie-grid [view]="[200, 500]" [scheme]="colorScheme" [results]="depressionData"
              [tooltipDisabled]="true">
          </ngx-charts-pie-grid>
          <mat-grid-tile-footer [style.background]="'transparent'">
              <div class="subsubtitulo">Porcentaje obtenido del total de estudiantes registrados.</div>
          </mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="4" [style.background]="'#fafafa'" class="rounded-grid">
          <mat-grid-tile-header [style.background]="'transparent'">
              <div class="w-100 subtitulo">Número de estudiantes por nivel de depresión</div>
          </mat-grid-tile-header>
          <ngx-charts-bar-horizontal [results]="depressionTypesData" [xAxisLabel]="'Número de Estudiantes'" [view]="[750, 300]"
              [barPadding]="20" [scheme]="colorScheme" [yAxisLabel]="'Niveles de Depresión'" [legend]="true"
              [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true" [showGridLines]="false"
              [legendTitle]="''" [yAxis]="true" [gradient]="false" [xAxisTickFormatting]="xAxisFormat" style="font-size:14px;">
          </ngx-charts-bar-horizontal>
          <mat-grid-tile-footer [style.background]="'transparent'">
              <div class="subsubtitulo">Números obtenidos del total de cuestionarios resueltos.</div>
          </mat-grid-tile-footer>
      </mat-grid-tile>
  </mat-grid-list>

</div>

<app-sidebar></app-sidebar>

</body>
