<body>
<h1 mat-dialog-title class="dialog-title">Entrenar Frase</h1>
<div mat-dialog-content>
  <p>Una frase de entrenamiento es aquel texto que el chatbot analizara como un mensaje que enviara el estudiante, y revisara los intents que tiene almacenados para encontrar una respuesta. De este modo, el bot sabra que responder ante ciertas circunstacias dentro de la conversacion con el estudiante.</p>
  <p>A continuacion, empezaremos a escribir frases para entrenar el intent:</p>
  <mat-form-field class="form-field">
    <mat-label>Frase</mat-label>
    <input matInput [(ngModel)]="trainingPhrase.text" placeholder="Frase">
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="cancel-button" (click)="dialogRef.close()">Cancelar</button>
  <button mat-raised-button class="save-button" color="primary" (click)="onSave()">Guardar</button>
</div>
</body>
